.SideBarcontainer {
  /* margin-top: -10; */
  width: 280px;
  height: 100%;
  background: #fcf9ff 0% 0% no-repeat padding-box;
  opacity: 0.8;
}
.upper {
  margin-top: 50px;
  width: 270px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sideTitle {
  margin-left: 50px;
  display: flex;
  align-items: baseline;
}
.MYaccounts {
  text-align: left;
  padding-right: 50px;
}
.spanDiv {
  background: #eee4f8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  height: 55px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.TitleSpan {
  padding-left: 50px;
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #5e419a;
  opacity: 1;
  cursor: pointer;
}
.accounts {
  background: #fcf9ff 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
  display: flex;
  margin-left: 20px;
  height: 55px;
}
.accountName {
  text-align: left;
  padding-left: 50px;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #7b728d;
  opacity: 1;
  cursor: pointer;
}
.middle {
  margin-top: 50px;
  width: 270px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 2px -2px #00000012;
}
.settings {
  background: #fcf9ff 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
  display: flex;
  margin-left: 20px;
  height: 55px;
}
.mySettings {
  text-align: left;
  padding-left: 50px;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #7b728d;
  opacity: 1;
}
.line {
  width: 280px;
  height: 2px;
  background: #eee4f8 0% 0% no-repeat padding-box;
}
.buttom {
  width: 270px;
  height: 100px;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
